:root {
  font-family: Noto Sans Bengali, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input,
textarea {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input:hover,
textarea:hover,
textarea:active,
textarea:focus-visible {
  border-color: #646cff;
}

input:focus,
input:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

textarea:focus,
textarea:focus-visible {
  border: none;
  outline: none;
}

#text-output {
  font-size: 2rem;
}

.keyboard-row {
  text-align: center
}

.key {
  color: #83d143;
  font-weight: 700;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  background-color: #40425a;
  padding: 28px 36px;
  margin: 4px 2px;
}

.key.mod.q-key {
  background-color: #0a686b;
  color: #62bfc2;
}

.key.mod.left-shift {
  background-color: #314fa1;
  color: #859fe6;
}

.key sup.left,
.key sub.left,
.key sup.right,
.key sub.right {
  color: #eeffd4;
  font-size: 1em;
  font-weight: 500;
  padding: 0 5px;
}

.key sup.left span.shift,
.key sub.left span.shift {
  content: '';
  position: absolute;
  width: 8px;
  height: 5px;
  display: inline-block;
  top: -2px;
  left: -6px;
  border-radius: 100px;
  background-color: #3e6ef1;
}

.key sup.right span.q,
.key sub.right span.q {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  display: inline-block;
  bottom: 0;
  right: -6px;
  border-radius: 100px;
  background-color: #1c9397;
}

.key sup.right span.shift,
.key sub.right span.shift {
  content: '';
  position: absolute;
  width: 8px;
  height: 5px;
  display: inline-block;
  top: -2px;
  right: -6px;
  border-radius: 100px;
  background-color: #3e6ef1;
}

.key sup.left {
  position: absolute;
  display: inline-block;
  left: 12px;
  top: 7px;
}

.key sub.left {
  position: absolute;
  display: inline-block;
  left: 12px;
  bottom: 7px;
}

.key sup.right {
  position: absolute;
  display: inline-block;
  right: 12px;
  top: 7px;
}

.key sub.right {
  position: absolute;
  display: inline-block;
  right: 12px;
  bottom: 7px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
